@charset "UTF-8";


/*게시판 전체 적용 내용*/
caption{display:none;}
img{border:0px}
input[type="text"],input[type="password"],select{font-size:80%; padding:3px;}
input[type="text"],input[type="password"]{width:250px;}
input[type="button"]{padding:3px;font-size:80%;}
table{border-collapse:collapse;}
ul{list-style:none;}


/********* 게시판 리스트 화면 *********/
/*리스트 부분*/
#noticeList{margin-top:10px;}
#noticeList table{width:96%; padding:0px; border:1px solid #000000; border-bottom:0px;}
#noticeList tr{padding:0px;}
#noticeList th, #noticeList td{padding:8px; border-bottom:1px solid #000066;}
#noticeList th{border-right:1px solid #000000; background-color:#FFB689;}

#noticeList .borcle{border-right:0px;}
#noticeList .rCount{font-size:10px;}



/************ 게시판 상세 화면 ************/
#button{width:96%; margin-top:10px;}
#noticeBut #btd1{width:70%; text-align:left; vertical-align:bottom;}
#noticeBut #btd2{width:40%; text-align:right; vertical-align:bottom;}
#noticeBut #btd3{width:30%; text-align:right; vertical-align:bottom;}
#noticeBut input{margin-bottom:0px; margin-left:5px;}

#msg{padding-left:4px; vertical-algin:middle; font-weight:bold;}




/************ 게시판 입력 및 수정 화면 ************/
#n_title,#file{width:480px}
#n_content{width:87%;height:200px;}

#file{display:inline;}
#imgView{position:absolute;}
.imgViewData{position:relative; top:-2px; left:0px; z-index:100}

/*게시판 td 정렬*/
td{text-align: center; padding:8px;}


