<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.puppy.client.member.vo.MemberVO" alias="member" />
		<typeAlias type="com.puppy.client.notice.vo.NoticeVO" alias="notice" />
		<typeAlias type="com.puppy.client.reservation.vo.ReservationVO" alias="reservation" />
		<typeAlias type="com.puppy.admin.room.vo.CageRoomVO" alias="cageroom" />
		<typeAlias type="com.puppy.common.vo.PetVO" alias="pet" />
		<typeAlias type="com.puppy.common.vo.ExtraServiceVO" alias="extraservice" />
		<typeAlias type="com.puppy.client.inquiry.vo.InquiryVO" alias="inquiry" />
		<typeAlias type="com.puppy.admin.reply.vo.ReplyVO" alias="reply" />
	</typeAliases>
</configuration>